* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fbc2eb);
	font-size: 1.1rem;
	font-family: "Quicksand", sans-serif;
	height: 100%;
}
